* {
  box-sizing: border-box;
}

html {
  font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  line-height: 1.5;
}

body {
  --max-crossword-size-multiplier: 1;
  --max-crossword-size: calc(30rem * var(--max-crossword-size-multiplier));
  margin: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

input,
button {
  font: inherit;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.grid-2 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1ch;
}

.grid-3 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1ch;
}

#crossword-wrapper {
  inline-size: clamp(var(--cols) * 1.2rem, 100%, var(--max-crossword-size));
}

#crossword {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  line-height: 1;
  container-type: inline-size;
  border: 1px solid black;
}

#crossword :is(input, button) {
  inline-size: 100%;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  font-size: calc(70cqi / var(--cols));
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
}
