#anagram-circle {
  --size: 1;
  position: relative;
  inline-size: calc(10em * var(--size));
  aspect-ratio: 1/1;
  margin: auto;
}

#anagram-circle p {
  rotate: var(--rotation, 0);
  position: absolute;
  block-size: calc(10em * var(--size));
  inset-inline-start: 50%;
}

#anagram-circle p span {
  rotate: calc(-1 * var(--rotation, 0));
  display: inline-block;
}

#anagram-circle .struck {
  text-decoration: line-through;
  color: #888;
}

#anagram-word {
  inline-size: fit-content;
  margin-inline: auto;
}

#anagram-word input {
  inline-size: 1.5em;
  aspect-ratio: 1/1;
  text-align: center;
  border: 1px solid black;
  border-radius: 0;
}

#anagram-word .invalid {
  color: red;
}
