#chat {
  max-block-size: 20rem;
  overflow: auto;
  border: 1px solid black;
  border-radius: 2px;
  padding: 4px;
}

#chat.grid-3 {
  grid-template-columns: auto auto 1fr;
  gap: 0 1ch;
}

#chat p {
  overflow-anchor: none;
}

#chat button {
  display: inline;
  block-size: fit-content;
  padding: 0;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#chat p + p {
  border-block-start: 1px solid #ccc;
}

#chat:not(:has(> :not(#chat-anchor)))::before {
  content: "No chats yet ...";
  color: #333;
}

#chat-anchor {
  block-size: 1px;
  overflow-anchor: auto;
}
