form input {
  inline-size: 100%;
}

details {
  padding: 1ch;
  border: 1px solid transparent;
  border-radius: 2px;
}

details[open] {
  border-color: black;
}

summary {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.max-inline-size {
  max-inline-size: 40ch;
}

.subgrid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

.current-clue {
  text-wrap: pretty;
}

.prev,
.next {
  display: inline-grid;
  aspect-ratio: 1/1;
  padding: 0;
}

#crossword div {
  position: relative;
  background-color: var(--c);
}

#crossword div[data-clue]::after {
  content: attr(data-clue);
  position: absolute;
  inset: 0.2rem;
  font-size: 0.5em;
  pointer-events: none;
}

#crossword .black {
  background-color: black;
}

#crossword :focus {
  position: relative;
  z-index: 1;
  background-color: var(--c-0);
  outline: var(--c-2) solid 3px;
  outline-offset: 1px;
}

#clues p {
  padding-inline: 4px;
  border-radius: 2px;
  text-wrap: pretty;
}

#clues .complete {
  text-decoration: line-through;
}

:is(#crossword, #clues) .selected {
  background-color: var(--c-1);
}

#crossword .selected.down  input { border-inline-width: 2px; }
#crossword .selected.down-start  input { border-block-start-width: 2px; }
#crossword .selected.down-end  input { border-block-end-width: 2px; }
#crossword .selected.across input { border-block-width: 2px; }
#crossword .selected.across-start  input { border-inline-start-width: 2px; }
#crossword .selected.across-end  input { border-inline-end-width: 2px; }
