section {
  max-inline-size: 100ch;
}

.grid-2 {
  gap: 1ch;
}

.current {
  font-weight: bold;
  text-decoration: underline;
}

#crossword button {
  background: black;
}

#crossword button[data-white="true"] {
  background: white;
}

#error {
  color: hsl(0 100% 40%);
}

:is(#details, #draw, #clues, #loading):not(.active) {
  display: none;
}
